 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  min-width: 850px;
}

html, body {
  min-width: 850px;
}

a {
  color: black;
  font-family: 'Inknut Antiqua', Georgia, serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  cursor: crosshair;
}

a:hover{
  color: #808284;
}

p {
  font-family: 'Anonymous Pro', monospace;
  font-size: 12px;
  line-height: 17px;
}

h1 {
  font-family: 'Inknut Antiqua', Georgia, serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
}

h2 {
  font-family: 'Inknut Antiqua', Georgia, serif;
  font-weight: medium;
  font-size: 17px;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

@media screen and (max-width: 850px) {
  .nav_items {
    display: inline;
  }
}

hr {
  width: 20px;
  border: 1px solid black;
}
}

/* INDEX PROJECT THUMBNAILS */

.thumb_items {
  list-style: none;
}

.thumb {
  float: left;
  width: 33.33%;
  max-height: 960px;
}

/* NAVIGATION */

  /* PARENT */

#nav_column {
  width: 300px;
  height: 100%;
  margin-top: 15px;
  margin-left: 15px;
  overflow: hidden;
  position: fixed;
  float: left;
  z-index: 999;
  align-content: center;
}

@media screen and (max-width: 850px) {
  #nav_column {
    width: 100%;
    height: 150px;
    z-index: 999;
    position: fixed;
  }
}

  /* CHILDREN */

.nav_content {
  width: 150px;
  height: 100%;
  padding-top: 35px;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  align-content: center;
}

@media screen and (max-width: 850px) {
  .nav_content {
    width: 100%;
    height: 20%;
    z-index: 999;
    align-content: left;
  }
}

  /* GRANDCHILDREN */

.logo {
  width: 80px;
  height: 80px;
  cursor: crosshair;
  z-index: 999;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav_items {
  list-style: none;
  text-align: center;
  text-decoration: none;
  font-family: 'Inknut Antiqua', Georgia, serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 95px;
  cursor: crosshair;
}

.nav_items:hover{
  color: #808284;
}

@media screen and (max-width: 850px) {
  .nav_items {
    display: inline;
  }
}

/* ABOUT SECTION */

  /* PARENT */

#about {
  width: 80%;
  height: 100%;
  padding-left: 8%;
  margin-left: 20%;
  box-sizing: border-box;
  border: 15px solid white;
  overflow: scroll;
  background-color: #f1f1f2;
  background-size: cover;
  position: fixed;
  float: right;
  z-index: 990;
}

@media screen and (max-width: 850px) {
  #about {
    width: 100%;
    height: 80%;
    margin-top: 150px;
    z-index: 990;
    float: left;
    left: 0;
    margin-left: 0;
  }
}

  /* CHILDREN */

.about_content {
  max-width: 600px;
  padding-right: 8%;
  padding-top: 50px;
}

  /* GRANDCHILDREN */

.myface {
  width: 300px;
  height: 300px;
  margin-top: 75px;
  margin-bottom: 50px;
}

.mail_icon {
  width: 35px;
  padding-top: 20px;
}

.insta_icon {
  width: 28px;
  padding-top: 20px;
}

.work_experience {
  padding-top: 50px;
}

.download_icon {
  height: 35px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.legal {
  left: 25px;
  bottom: 25px;
  position: fixed;
}

#photos {
   /* Prevent vertical gaps */
   /*line-height: 0;

   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;
   width: 100%;
   z-index: -999
}

#photos img {
  /* Just in case there are inline attributes */
  /*width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}*/

body {
  margin: 0;
  padding: 0;
}
